<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" type="text/css" href="../css/login.css">
<!-- パスワードの表示可否 -->
<script>
	function checkPassword(e) {
		pass = document.getElementById("password");
		if (e.checked) {
			pass.setAttribute("type", "password");
		} else {
			pass.setAttribute("type", "text");
		}
	}
</script>
<title>ログイン</title>
<style type="text/css">
<!--
a:link {
	color: #0000FF;
}

a:visited {
	color: #0000FF
}
-->
</style>
</head>
<body>
	<div align="left">Top</div>
	<!-- 現在のリアル日時を表示 -->
	<p align="right">
		日付:<span th:include="header :: view_time"></span>
	</p>
	<div align="center" class="box">
		<!-- ログイン失敗時に表示する -->
			<span style="border-top:5px solid #ff7d6e;background-color:  #ffebe9;color: #ff7d6e;"  th:text="${error}">
		</span>
		<form id="form" action="/userInfoCheck" method="POST">
			<table>
				<tr class="input">
					<th class = "name">メールアドレス</th>
					<td class="col"><input type="email" id="mailAddress" name="mailAddress"
						value="" size="20" autocomplete="off"></td>
				</tr>
				<tr class="input">
					<th class = "name" align="left">パスワード</th>
					<td class="col"><input type="password" id="password" name="password"
						value="" size="20"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="checkbox" onclick="checkPassword(this)"
						checked />文字列を * に置き換える</td>
				</tr>
				<tr>
					<td></td>
					<td align="center"><input type="submit" value="Login"
						style="width: 80px;" id = "button"></td>
				</tr>
			</table>
		</form>
	</div>
	<div align="center" class="box">
		<table>
			<tr>
				<td></td>
				<td><a href="/signup">○ 初めての方はこちらをクリックしてください</a></td>
			</tr>
			<tr>
				<td></td>
				<td><a href="/passChange">♦ パスワード変更する方はこちらをクリックしてください</a></td>
			</tr>
		</table>
	</div>
</body>
</html>